home/.vim/.netrwhist
.config/ncmpcpp/error.log
.config/mpd/mpd.log
.config/mpd/pid
.config/mpd/state
.config/mpd/sticker.sql
.config/mpd/tag_cache
home/.newsboat/cache.db
home/.newsboat/history.cmdline
home/.newsboat/history.search
home/.newsboat/urls
