* {
    font-family: DejaVu Sans Mono;
    font-size: 16px;
    color: #ebdbb2; /* Gruvbox Foreground */
    /*color: #928374; Gruvbox Comment */
}

#text {
    padding: 3px;
}

#img {
    padding: 5px;
}

/* This is the window itself */
/* We leave this transparent so we can colour different parts with different opacity levels */
#window {
    background-color: transparent;
}

/* This is an item of the list */
#entry {
    border-radius: 5px;
    padding: 2px 3px 2px 3px;
}

/* This is an item of the list that is hovered over */
#entry:selected {
    /*background: rgba(146, 131, 116, 0.55); Gruvbox Comment */
    background: rgb(60, 56, 54); /* Gruvbox CursorLine */
    /*font-weight: bold */
}

/* This is the text entry box */
#input {
    background: rgba(40, 40, 40, 0.90); /* Gruvbox BG */
    padding: 3px 5px 3px 5px;
    border: 2px solid #689d6a; /* Gruvbox Aqua (Cyan) */
    border-radius: 5px;
}

/* This is the box the entries are placed in */
#scroll {
    background: rgba(40, 40, 40, 0.75); /* Gruvbox BG */
    border-radius: 5px;
}
