* {
    font-family: DejaVu Sans Mono;
    font-size: 16px;
    color: #ebdbb2; /* Gruvbox Foreground */
    /*color: #928374; Gruvbox Comment */
}

#text {
    padding: 3px;
}

#img {
    padding: 5px;
}

/* This is the window itself */
/* Can leave this transparent to colour different parts with different opacity levels */
#window {
    /*background-color: transparent; */
    background-color: rgb(40, 40, 40); /* Gruvbox BG */
}

/* This is an item of the list */
#entry {
    border-radius: 5px;
    padding: 2px 3px 2px 3px;
}

/* This is an item of the list that is hovered over */
#entry:selected {
    background: rgb(60, 56, 54); /* Gruvbox CursorLine */
    /*font-weight: bold */
}

/* This is the text entry box */
#input {
    /*background: rgb(40, 40, 40); Gruvbox BG */
    padding: 3px 5px 3px 5px;
    border: 2px solid #689d6a; /* Gruvbox Aqua (Cyan) */
    border-radius: 5px;
}

/* This is the box the entries are placed in */
#scroll {
    /*background: rgb(40, 40, 40); Gruvbox BG */
    border-radius: 5px;
    border: 2px solid #3c3836; /* Gruvbox CursorLine */
}
